############################
# Python
############################
venv/
**/venv/
__pycache__/
*.pyc

############################
# Frontend
############################
node_modules/
dist/
.env

############################
# Java / Spring
############################
target/
*.log
*.lock
*.db
qdrant_data/

############################
# IDE
############################
.idea/
.vscode/

############################
# OS
############################
.DS_Store
Thumbs.db

olympiad-ai-engine/generated_pdfs/
olympiad-ai-engine/exam_paper.pdf
olympiad-ai-engine/data/pdfs/
